// site fonts

$primaryFont: "Montserrat Alternates", sans-serif;

$baseFontSize: 1rem;

// site colours
$primary: #000000;
$secondary: #4D4D4D;
$tertiary: #CD4631;
$quaternary: #81ADC8;
$quinary: #F7EDE8;
$senary: #EDF3F7;